$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$backgrey: #e5e4e2;
$darkgrey: #c0c0c0;
$footer-background: #000000;
$text-color: black;
$footer-font-color: #FFFFFF;
$mobile-width: 480px;
$desktop: 769px;
$font-logo: 'Shrikhand', cursive;
$font-text: 'Roboto', sans-serif;
$regular: 500;
$bold: 700;
$black: 900;
$descriptionbackground: white;
$fonttype-light: 300;
$bastillebackground: #f6f6f6;
$shadowsetting: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$buttonshadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$hoverbutton-shadow: rgba(0, 0, 0, 0.24) 1px 3px 7px,
                    rgba(0, 0, 0, 0.24) -1px -3px 7px;
$explore-color: linear-gradient(180deg, $secondary-color, $primary-color); 



//mixins

@mixin font ( $font-weight, $color: black, $fontsize: 1.2rem) {
    
    font-weight: $font-weight;
    color: $color;
    font-size: $fontsize;
}


@mixin flexsetting ($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    

}


@mixin smalltablet {
    @media only screen and (max-width: 576px) and (min-width: 481px)  {
       @content; 
    }
}

@mixin tablet {
    @media only screen and (max-width: 768px) and (min-width: 577px)  {
       @content; 
    }
}


@mixin desktop {
    @media (min-width: $desktop) {
       @content; 
    }
}


@mixin gradual-change {
    transition: all 5s ease-in-out;
}


//homepage keyframes

@keyframes spin{
    to {
        transform: rotate(360deg) scale(1.5) perspective(150px) translateZ(60px);
        opacity: 1;
        
    }
}

@keyframes showcontentwrap{

    0% { opacity: 0;}

    60% { opacity: 0;}

    100% {opacity: 1;}
}

//bastille keyframes










@keyframes slightdelay {
    0% {
        
        opacity: 0;
    
    }

    20% {
        opacity: 1;
        transform: translateY(-100%);
    }
    
    

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}






@keyframes fadein {
    0% { opacity: 0;}

    100% {opacity: 0;}
}


@keyframes hideloading {
    0% { opacity: 1;}

    100% {opacity: 0;}
}




