
@import './variables';
@import './bastille';









body{
    margin: 0 2%;
    font-family: $font-text;
    color: $text-color;
    position: relative;
    z-index: -1;
    
    
    



    @include desktop {
        margin: 0 4px;
    }





    .loader {

        @include flexsetting(column, center, center);
        width: 100%;
        align-items: center;








    


    
    
    
    
    
    
    
    .contentwrap {
        
        display: flex;
        flex-direction: column;
        width: 100%;
    
        




    
    


    .headerdiv {
        font-family: $font-logo;
        @include flexsetting(row, center, center);
        width: 98%;
   
    }


    main{
        width: 98%;

        @include desktop {
            width: 100%;
        }
    

  

   


    

    

     

        .information {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;
           
            @include smalltablet{
                flex-direction: row;

            }

            @include tablet{
                flex-direction: row;

            }

                 
            .top{
                @include flexsetting(column, center, center);
                background-color: $backgrey;
                width: 100%;
                @include font( $regular, $text-color ,1rem );
                


                    &__paris {
                        background-color: $darkgrey;
                        @include flexsetting(row, center, center);
                        margin-left: auto;
                        width: 100%;
                        color: $text-color;

                        i {
                            margin-right: 10px;
                            text-align: center;
                            vertical-align: middle;
                        }
                    }

                    &__explore {
                        display: flex;
                        justify-content: center;
                        background-image: linear-gradient(180deg, $secondary-color, $primary-color); 
                        width: 70%;
                        border-radius: 30px;
                        margin: 0 auto;
                        margin-bottom: 20px;
                        color: $footer-font-color;
                        

                        @include smalltablet{
                            width: 40%;

                        }
                        
                        @include tablet {
                            width: 30%;
                        }

                        @include desktop {
                            width: 230.6px;
                            flex-grow: 0;
                            flex-basis: auto;
                        }

                    }

                    p {
                        text-align: center;
                        
                    }
            }

         
         .process {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 20px 0;






                &__title {
                    display: flex;
                    width: 100%;

                }


         
                &__instructions {
                    @include flexsetting(column, flex-start , center);
                    


                    @include tablet {
                    
                        flex-direction: row;
                        flex-wrap: wrap;
                    }

                    @include desktop {
                        flex-direction: row;
                        flex-wrap: wrap;
                    }

            
                    .steps {

                        @include flexsetting(row, flex-start , center);
                        width: 80%;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 20px;
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                        border-radius: 15px;
                        padding: 5px 10px 5px 0;

                        &:hover {
                            background-color: lighten($primary-color, 35%);
                        }

                        &:hover .object i{
                            color: $primary-color;
                        }

                        @include smalltablet{
                            width: 60%;

                        }


                        @include tablet {
                            width: 40%;
                        }

                        @include desktop{
                            width: 304px;
                            font-size: 22px;
                            
                        }
                        





                        .number {
                            line-height: 7px;
                            border-radius: 50%;
                            padding: 7px;
                            background-color: $primary-color;
                            font-size: 10px;
                            font-weight: $fonttype-light;
                            vertical-align: middle;
                            text-align: center;
                            position: absolute;
                            margin-left: 0;
                            margin-right: auto;
                            transform: translate(-45%);
                            justify-content: center;
                            height: 6px;
                            width: 6px;
                            color: $footer-font-color;


                            @include desktop{
                                
                                font-size: 14px;
                                line-height: 8px;
                                padding: 8px;
                                height: 8px;
                                width: 8px;
                                
                            }


                            i {
                                margin-right: auto;
                                text-justify: middle;
                                text-align: center;
                                line-height: 8px;
                                align-self: center;
                                position: relative;
                                margin-left: auto;
                                text-align: center;
                                vertical-align: middle;
                                justify-content: center;
                                align-self: center;
                                font-weight: $fonttype-light;
    
    
    
                            }

                        }


                        .object{

                            @include flexsetting(row, flex-start , center);
                            margin-left: 20%;




                            @include desktop{
                                
                                font-size: 22px;
                                
                            }
                        }



                        .todo{

                            @include flexsetting(row, flex-start , center);
                            margin-left: 10%;



                            


                            p{
                            
                                font-size: 0.7rem;
                                font-weight: bold;



                                                            
                            @include desktop{
                                
                                font-size: 0.9rem;
                                
                            }
                            }
                        }


            
                    }
         
                }
              
         
             }
         
             box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
         
         
         }
            
    


   
     
     
     
         .restaurants {
     
                 display: flex;
                 flex-direction: column;
                 justify-content: center;
                 background-color: $backgrey;
                 width: 100%;

                 



                 &__title {
                     display: flex;
                     width: 100%;
                     margin-bottom: 2rem;
                 }


                 &__available {
                                display: flex;
                                flex-direction: column;
                                width: 100%;

                                @include smalltablet{
                                    flex-direction: row;
                                    flex-wrap: wrap;
                                    justify-content: center;
        
                                }

                                @include tablet{
                                    flex-direction: row;
                                    flex-wrap: wrap;
                                    justify-content: space-around;
                                
                                    
                                    
                                }

                                @include desktop{
                                    flex-direction: row;
                                    flex-wrap: wrap;
                                    justify-content: space-around;
                                        
                                    }
     
     
                                .options{
                                    display: flex;
                                    flex-direction: column;
                                    flex-wrap: wrap;
                                    width: 276.587px;
                                    height: auto;
                                    margin: 15px auto;
                                    border-radius: 25px;
                                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                                    position: relative;

                                    @include smalltablet{
                                        width: 40%;
                                        margin: 15px 20px;
                                            
                                        }



                                    @include tablet{
                                    width: 269px;
                                        
                                    }

                                    @include desktop{
                                        width: 20%;
                                        max-width: 290px;
                                            
                                        }

                                    
                                
                        
                                    &__picture {
                                                display: flex;
                                                width: 100%;
                                                position: relative;
                                                z-index: 1;

                                                .new {
                                                    @include flexsetting(row, center, center);
                                                    background-color: $tertiary-color;
                                                    width: 80px;
                                                    height: 30px;
                                                    right: 15px;
                                                    top: 15px;
                                                    position: absolute;
                                                    z-index: 1;
                                                    border-radius: 3px;
                                                    box-shadow: 0 3px 10px;
                                                    font-weight: bold;


                                                    .layer {
                                                        background-color: darken($tertiary-color, 15%);
                                                        position: absolute;
                                                        top: 0;
                                                        left: 0;
                                                        width: 100%;
                                                        height: 100%;
                                                        border-radius: 3px;
                                                        box-shadow: 0 3px 10px;
                                                        opacity: 75%;
                                                       
                                                    }
                                                }
                    
                                            img {
                                                    width: 100%;
                                                    height: 150px;
                                                    border-top-left-radius: 20px;
                                                    border-top-right-radius: 20px;
                                                    position: relative;
                                                    z-index: -1;


                                                    @include tablet{
                                                        width: 269px;
                                                        
                                                            
                                                        }

                                                        @include desktop {
                                                            
                                                            max-height: 150px;
                                                            max-width: 300px;
                                                            
                                                            
                                                                
                                                            }
                                                    
                                            }
                                    }

                                    &__description {
                                        @include flexsetting(row, flex-start, flex-start);
                                        background-color: $descriptionbackground ;
                                        border-bottom-left-radius: 20px;
                                        border-bottom-right-radius: 20px;
                                        align-items: center;
                                       


                                        .name{
                                            @include flexsetting (column, flex-start, flex-start);
                                            font-weight: bold;
                                             width: 60%;
                                             margin: 0;
                                             padding-left: 1rem;

                                             p {
                                                margin: 0;
                                            }


                                            .city {
                                                font-weight: $fonttype-light;
                                                margin: 0;


                                                p {
                                                    margin: 0;
                                                }
                                            }

                                        }


                                        .heart{
                                            display: flex;
                                            align-content: center;
                                            justify-content: center;
                                            margin-left: auto;
                                            width: 30%;
                                            font-size: 1.5rem;
                                            position: relative;


                                            #far {
                                                display: block;
                                                color: black;
                                                position: relative;
                                                
                                                
                                            }

                                            #solid {
                                                display: none;
                                                color: $primary-color;
                                                position: relative;
                                                left: 0;
                                                top: 0;
                                                z-index: 99;




                                            }



 

                                                    


                                               
                                            
                                            
                                        }

 
                                        
                                    }

                                    &:hover #solid{

                                        display: flex;
                                       
                                        
                                    } 
                                    &:hover #far{

                                        display: none;
                                       
                                        
                                    } 


     
                        }
     
                }
        }

       
         


        }
    

.footerdiv{
             
    display: flex;
    flex-direction: column;
    background-color: $footer-background;
    bottom: 0;
    color: $footer-font-color;
    flex-wrap: nowrap;
    width: 98%;

    @include desktop {
        width: 100%;
    }

       




     &__title {
                display: flex;
                font-family: $font-logo;
                padding-left: 40px;
                font-size: 20px;
                padding-bottom: 0;

                @include tablet{
                   justify-content: center;
                   font-size: 24px;
                }
                @include desktop {
                    justify-content: center;
                    font-size: 24px; 
                }
    
        
      }

            &__list {

                        @include flexsetting (column, flex-start, flex-start); 

                        @include tablet{
                            
                            flex-direction: row;
                            align-items: flex-start;
                            
                            
                        }
                        @include desktop {
                            
                            flex-direction: row;
                            align-items: flex-start;
                            justify-content: center;
                            
                            
                        }

                    ul {

                    
                            li {
                        
                                list-style-type: none;
                                width: 100%;
                                line-height: 20px;
                                margin: 5px 0;
                                color: $footer-font-color;


                                @include tablet {
                                    display: inline;
                                    margin-left: 20px;
                                }

                                @include desktop {
                                    display: inline;
                                    padding: 0 20px;
                                    margin-right: 20px;
                                }
                            
                            

                                    a {
                                                
                                    text-decoration: none;
                                    color: $footer-font-color;
                                    
                                    }


                                   
                            }

                        }

                 }        
    }

     
  }

}


}





.loading::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: 200px;
    z-index: 30;
    border: 10px dotted transparent;
    border-color: $secondary-color $tertiary-color $primary-color $tertiary-color;
    border-radius: 50%;
    opacity: 0.5;
    animation: spin 1s linear infinite;



    @include desktop {
        
        width: 50px;
        height: 50px;
         top: 50%;
         left: 50%;
        margin-top: -200px;
        margin-bottom: -50px;
       

        
    }

}







    








